<html>
  <head>
    <title>{{ title }}</title>
    <style>
      .button-container form,
      .button-container form div {
        display: inline;
      }
      .button-container button {
        display: inline;
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
    <div class="button-container">
      <form id="make_it_metal" action="/" method="get">
        Song: <input type="text" name="song" value={{ song }} />
        Artist: <input type="text" name="artist" value={{ artist }} />
        {% if url %}
        Cat URL: <input type="text" name="url" value={{ url }} />
        {% else %}
        Cat URL: <input type="text" name="url" />
        {% endif %}
        <button type="submit">Make it metal</button>
      </form>
    </div>

  	<img src={{ img_src }} height="80%" /><br />

    <div class="button-container">
      <form id="save" action="/" method="get">
        <input type="hidden" name="song" value={{ song }} />
        <input type="hidden" name="artist" value={{ artist }} />
        {% if url %}
        <input type="hidden" name="url" value={{ url }} />
        {% endif %}
        <input type="hidden" name="image_to_save" value={{ img_src }} />
        <button type="submit">Save to favorites</button>
      </form>
      <a href="/favorites">View favorites</a>
    </div>
  </body>
</html>